# Ignore everything
/*
# Ignore hidden/work directories
.*/
.*
site/*
*.pyc
__pycache__/*
.entangled/**/filedb.json
.entangled/**/filedb.lock

# Except root files
!/*
# Except these folders
!data/
!docs/
!libs/
!md-text/
!setup/
!tests/
!zkeep/
