# Ignore everything
/*
# Ignore hidden/work directories
.*/
site/
/__pycache__/*
.entangled/**/filedb.json
.entangled/**/filedb.lock

# Except root files
!/*
# Except these folders
!calendar-project/
!data/
!docs/
!md-text/
!setup/
!src/

# Ignore these in the exceptions
src/__pycache__/*
